doctype html
html
  link(rel='stylesheet', href='/stylesheets/main.css')
  header
  <div class="header" >
   block header
  </div>

  <div class="sidenav">
  sidenav
  </div>
  

  <div class="radio">
   radio
  </div>
 
  <div>
  body
    <div class="center">
     
      
    block content
    title= title
    </div>
  
  </div>
  

  footer
    <footer class="footer">
    block footer
    </footer>
 
    

